<div class="container-fluid SignUpBackground">
  <div class="col-md-5 col-md-offset-4 FormLayout">
    <div class="container-fluid FormTopBar">
       <%= link_to image_tag("Logo.png", class:"navbar-logo"), root_path %>
    </div><!-- FormTopBar-->

    <h3>Sign up for free!</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

        <div class="field FieldContainer">
          <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "FormField" %>
        </div>

        <div class="field FieldContainer">
          <%= f.email_field :email, placeholder: "Email", class: "FormField" %>
        </div>

        <div class="field FieldContainer">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password - minimum 8 characters", class: "FormField" %>
        </div>

        <div class="field FieldContainer">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: "FormField" %>
        </div>

        <div class="actions FieldContainer">
          <%= f.submit "SIGN UP", class: "btn FormButton" %>
        </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div><!-- FormLayout-->
</div><!-- container-fluid SignUpBackground" -->